@font-face {
    font-family: raghu;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    src: url(fonts/Roboto-VariableFont_wdthwght.ttf);
    font-family: roboto;
}

.body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(211, 211, 211);
}

.navigation_bar {
    width: 100%;
    background-color: rgb(48, 47, 47);
    margin: 0px 0px 0px 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    z-index: 5;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
}

#heading1 {
    font-size: 80px;
    text-align: left;
    color: #04eacf;
    font-family: raghu;
    margin: 0px 0px 0px 180px;
    display: block;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#heading2 {
    font-size: 60px;
    text-align: left;
    color: rgb(255, 168, 54);
    font-family: raghu;
    margin: 20px 10px 10px 50px;
    display: block;
}

#heading3 {
    font-size: 50px;
    text-align: left;
    color: rgb(255, 168, 54);
    font-family: raghu;
    margin: 20px 10px 10px 50px;
    display: block;
}

#heading4 {
    font-size: 35px;
    text-align: left;
    color: rgb(255, 168, 54);
    font-family: raghu;
    margin: 20px 10px 10px 100px;
    display: block;
}

#headingdiv {
    width: 50%;
}

#image {
    width: 50px;
    height: 50px;
}

#button {
    background: rgba(255, 255, 255, );
    border: 4px solid #fff;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    border-radius: 15px;
    transition: 0.2s;
    margin-left: 20px;
}

#button:hover {
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.3), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

.about_me1 {
    width: 50%;
    margin: 5% 2% 5% 2%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;

}

.about_me1:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

#about_me_list {
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: raghu;
    margin: 20px 10px 10px 10px;
}

.about_me2 {
    width: 50%;
    margin: 5% 2% 5% 2%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;

    ;
}

.about_me2:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

.education {
    width: 80%;
    margin: 0% 20% 0% 10%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;

}

.education:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

#education_table {
    width: 90%;
    align-self: center;
    margin: 0% 5% 5% 5%;
}

#eth {
    font-family: raghu;
    font-size: xx-large;
}

#etd {
    font-family: roboto;
    font-size: x-large;
    padding: 5px 5px 2px 3px;
}

.progress {
    background-color: #ffffff;
    border-radius: 25px;
    height: 30px;
    overflow: hidden;
    width: 60%;
    margin-right: 50px;
    align-self: right;
}

.progress-bar {
    background: linear-gradient(to right, hsl(35, 83%, 72%), rgb(255, 128, 0));
    height: 100%;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    font-weight: bold;
    width: 0px;
    font-family: raghu;
}

.skills {
    width: 80%;
    margin: 100px 20% 0% 10%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;
}

.skills:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

#skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#certifications {
    width: 30%;
    margin: 100px 1% 0% 1%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;
}

#certifications:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

#cources {
    width: 30%;
    margin: 100px 1% 0% 1%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;
}

#cources:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

#books_completed {
    width: 30%;
    margin: 100px 1% 0% 1%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;
}

#books_completed:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}

#section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mini-projects {
    width: 80%;
    margin: 100px 20% 0% 10%;
    background-color: rgb(245, 245, 208);
    border: 15px solid rgb(247, 168, 22);
    border-radius: 50px;
}

#mini-projects:hover {
    background-color: rgb(255, 244, 173);
    border-color: #00ffe0;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.9), 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    transition-duration: .3s;
}